# Compiler files
cache/
out/
artifacts/
forge-cache/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/
/broadcast/**/dry-run/

# Docs
docs/

# Dotenv file
.env

.idea/
.vscode
node_modules/

# OSX
.DS_Store

# Local deployment
deployment-31337.json

# Script data
script/data/

# Coverage
coverage/
lcov.info

